################################################################################
#   Network Programming, 2011, RMIT University                                 #
#   Description: This file contains config values that any implementation of   #
#      the assignment one, on the CLIENT SIDE, must support.                   #
#   Note: If you do not support any of the following configs in your program,  #
#      your client program must print a warning message at the initialization  #
#      time. THIS IS IMPORTANT! Marks will be deducted otherwise.              #
################################################################################


# Description: 
#   Network address of the server machine.
#   NOTE: either this config, or the "server_name" configs will be uncommented.
#server_address 127.0.0.1


# Description:
#   Network name of the server. This is to be resolved by the DNS service.
#   Note: either this config, or the "server_address" config will be uncommented
server_name agoanna.cs.rmit.edu.au


# Description:
#   The port number that the server application is using.
server_port 20201


# Description:
#   Specifies whether the server will log details of messages to stderr.
# Possible values are:
#   ON: Server prints details of all messages on stderr.
#   OFF: This feature is disabled.
print_message_details OFF


# Description:
#   The number of times that the client sends request to the server, when
#   replies are lost or are invalid.
request_count 3


# Description:
#   The timeout delay, in the number of seconds, that the client waits for a
#      response from the server. This is to be supported if you are attempting
#      section 4 of the assignment. Otherwise, simply write an 'unsupported' 
#      message for this config on the screen.
request_timeout 5

